*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.table{
    border-top-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    width: 840px;
    width: 100%;


}

.table td , .table th{
    border-bottom-style: solid;
    border-width: 1px;
    border-color: gray;
    padding: 12px 16px;


}

.w-160{
    width: 160px;
}

.text-center{
    text-align: center;
}

.column-title{
    font-weight: bold;
}

.column-title > a{
    font-weight: bold;
    text-decoration: none;
    color: black;

}

.column-title > a:hover{
    font-weight: bolder;
    text-decoration: underline;
}
.column-date{
    color : #636363;
    text-align: center;

}

.table-section{
    width: 840px;
}
.padding{
    margin: 24px 0;
}
.paging > a{
    display: inline-block;
    
    width: 30px;
    height: 30x;
    text-decoration: none;
    color: black;
}
.paging > .active{
    font-weight: bold;
    text-decoration: underline;
}

.frist-page , .pre-page , .next-page , .last-page{
    border-style: solid;
    border-width: 1px;
    border-color: #dfdfdf;



}